.todo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.submit-button {
    height: 30px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(45, 196, 45);
}